services:
  app:
    build: .
    container_name: dockercleanerpro-app
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - mongodb
    restart: always

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

 jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins-automation
    user: root  # <--- ADD THIS LINE
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins-data:/var/jenkins_home
    restart: always

volumes:
  mongo-data:
  jenkins-data: